/* #region common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --editorial-lable: #14AAF5;
    --q1goals-lable: #AB5DE6;
    --recruiting-lable: #2CC6AB;
    --mobile-lable: #FF9B00;
    --website-lable: #EC4A9D;
    --sales-lable: #A3D116;
}
/* #endregion common */

/* #region header */
#header{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo{
    margin-right: 10px;
}

h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
}
/* #endregion header */

/* #region main */
#main{
    background-color: #F6F8F9;
}
/* #endregion main */