/* #region common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --editorial-lable: #14AAF5;
    --q1goals-lable: #AB5DE6;
    --recruiting-lable: #2CC6AB;
    --mobile-lable: #FF9B00;
    --website-lable: #EC4A9D;
    --sales-lable: #A3D116;
    --main-bg: #F6F8F9;
    --lightgrey: #C4CBD0;
}
/* #endregion common */

/* #region header */
#header{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo{
    margin-right: 10px;
}

h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
}
/* #endregion header */

/* #region main */
#main{
    background-color: var(--main-bg);
    height: 500px;
    padding-top: 30px;
}

/* #region nav-bar */
.nav-bar{
    background: white;
    border-radius: 5px 5px 0 0;
    width: 80%;
    padding: 10px 50px;
    margin: 0 auto;
}

button{
    background: white;
    font-size: 11px;
    color: var(--lightgrey);
    border: var(--lightgrey) solid 1px;
    border-radius: 5px;
    padding: 5px 8px;
}

.enable{
    background-color: var(--editorial-lable);
    border-color: var(--editorial-lable);
    color: white;
}
/* #endregion nav-bar */

/* #region todo-list */
.todo-list{
    background: white;
    border-radius: 0 0 5px 5px;
    width: 80%;
    padding: 10px 50px;
    margin: 0 auto;
    margin-top: 5px;
}

h2{
    margin-top: 20px;
    font-size: 20px;
}

.task{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.task>img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.label{
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
    margin-left: 5px;
}

.editorial{
    background: var(--editorial-lable);
}

.q1goals{
    background: var(--q1goals-lable);
}

.recruiting{
    background: var(--recruiting-lable);
}

.mobile{
    background: var(--mobile-lable);
}
/* #endregion todo-list */

/* #endregion main */